<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../css/page.css">
</head>
<body>
<div class="toolbar">
	<div class="caption">
		<a href="#">首页</a>
	</div>
</div>
<div id="doc">
	<div id="bd">
		<div class="txt-wrapper" style="height:1000px;">
			<p>微软</p>
			<div class="highlight">
			<pre><code class="javascript"><span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="kc">undefined</span><span class="o">+</span><span class="mi">5</span><span class="p">)</span> <span class="c1">//输出NaN</span>

<span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="kc">null</span><span class="o">+</span><span class="mi">5</span><span class="p">)</span> <span class="c1">//输出5</span>
</code></pre>
			</div>
		</div>
	</div>
</div>
</body>
</html>